<script>
import 'remixicon/fonts/remixicon.css'
</script>

<main>
  <h1> Hello World</h1>
  <i class="ri-home-8-line"></i>
</main>

<style lang="postcss">
  main {
    @apply p-2;
  }

  h1 {
    @apply text-xl font-semibold text-gray-700;
  }

  i {
    @apply text-red-700 text-xl;
  }
</style>
